<style type="text/css">
    <% local dsp=require "luci.dispatcher"
    -%>
    
    table.imagetable {
        font-family: verdana, arial, sans-serif;
        font-size: 11px;
        color: #333333;
        border-width: 1px;
        border-color: #999999;
        border-collapse: collapse;
        padding-top: 10px;
    }

</style>

<script type="text/javascript">//<![CDATA[
    window.onload = function () {
    }
    var mac = '<%=self.mac%>';
    new XHR().get('<%=url('admin/network/dev_visit_list')%>/' + mac, null,
        function (x, st) {
            var tb = document.getElementById('user_status_table');
            var str = JSON.stringify(st);
            if (st && tb) {
                /* clear all rows */
                while (tb.rows.length > 1)
                    tb.deleteRow(1);
                for (var i = 0; i < st.length; i++) {
                    var action_status = ""
                    if (st[i].latest_action == 1)
                        action_status = "<%:Filtered%>"
                    else
                        action_status = "<%:Unfiltered%>"
                    var hostname = ""
                    if (st[i].hostname == "" || st[i].hostname == "*") {
                        hostname = "--";
                    }
                    else {
                        hostname = st[i].hostname;
                    }
                    var tr = tb.insertRow(-1);
                    tr.className = 'tr cbi-rowstyle-' + ((i % 2) + 1);
                    tr.insertCell(-1).innerHTML = st[i].appname;
                    tr.insertCell(-1).innerHTML = hostname;
                    tr.insertCell(-1).innerHTML = st[i].mac;
                    tr.insertCell(-1).innerHTML = st[i].first_time;
                    var hour = parseInt(st[i].total_time / 3600);
                    var seconds = st[i].total_time % 3600;
                    var min = parseInt(seconds / 60)
                    var total_time_str;
                    if (st[i].latest_action == 1)
                        total_time_str = "-"
                    else {
                        if (hour > 0)
                            total_time_str = hour + "<%:h%>" + min + "<%:m%>"
                        else {
                            if (min == 0)
                                min = 1;
                            total_time_str = min + "<%:m%>"
                        }
                    }

                    tr.insertCell(-1).innerHTML = total_time_str;
                    tr.insertCell(-1).innerHTML = action_status;
                    var childs = tr.childNodes;
                    Array.prototype.forEach.call(childs, function (child) {
                        child.className = 'td';

                    });

                }
            }
        }
    );

//]]></script>

<div class="cbi-section cbi-tblsection">
    <table class="table cbi-section-table" id="user_status_table">
        <tr class="tr table-titles">
            <th class="th">
                <%:App Name%>
            </th>
            <th class="th">
                <%:Hostname%>
            </th>
            <th class="th">
                <%:Mac%>
            </th>
            <th class="th">
                <%:Start Time%>
            </th>
            <th class="th">
                <%:Visit Time%>
            </th>
            <th class="th">
                <%:Filter Status%>
            </th>
        </tr>
        <tr class="tr table-titles">
            <td class="td" colspan="8"><em><br />
                    <%:Collecting data...%>
                </em></td>
        </tr>
    </table>

</div>